html {
  background: black;
  color: white;
  font-weight: bold;
}

.DateContainer {
  padding: 40px;
  display: flex;
  gap: 15px;
  width: auto;

}

.aline {
  display: flex;
  flex-direction: row;
}

.das {
  font-size: 50px;
}

.font {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bolder;
}

#day {
  padding-top: 1px;
  font-size: 50px;
}

#month {
  padding-top: 1px;
  font-size: 50px;
}

#year {
  padding-top: 1px;
  font-size: 50px;
}

.TimeContainer {
  display: flex;
  align-items: center;
  padding-left: 40%;
}

.TimeInnerContainer {
  display: flex;
  width: auto;
  border-radius: 20px;
  padding: 30px;
  background: white;
  color: black;
  font-size: 100px;
}